@page "/categoria/create"
@inject HttpClient http
@inject NavigationManager navigationManager

<h2>Nova Categoria</h2>

<EditForm Model="@categoria" OnValidSubmit="@CriarCategoria">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

        <div class="form-group">
            <label form="nome">Nome</label>
            <div>
                <InputText @bind-Value="@categoria.Nome" class="form-control"></InputText>
                <ValidationMessage For="@(()=> categoria.Nome)"></ValidationMessage>
            </div>
            <label form="descricao">Descrição</label>
            <div>
                <InputText @bind-Value="@categoria.Descricao" class="form-control"></InputText>
                <ValidationMessage For="@(()=> categoria.Descricao)"></ValidationMessage>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Salvar</button>
        <button class="btn btn-danger" @onclick="@(()=>navigationManager.NavigateTo("categoria"))"> Cancelar</button>

   
</EditForm>

@code {
    Categoria categoria = new Categoria();

    async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("api/categoria", categoria);

        navigationManager.NavigateTo("categoria");
    }   

}
